<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">True Food Review</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>Uber</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/data">Data</a></li>
              <li><a href="/yelp">Yelp</a></li>
              <li><a href="/foursquare">FourSquare</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div ng-app='myApp'>

  <div ng-controller="MainController" class="col-md-6">
      <button ng-click="getYelpLocations()">Get Yelp Data</button>
      <div ng-repeat="location in yelpLocations">
        <div class="yelpListItem">
          {{location[0]}}
          <div class='yelpId'>
            {{location[1]}}
          </div>
        </div>
      </div>
  </div>

  <div ng-controller="MainController" class="container col-md-6" ui-view>

    <div id="map" ui-map="model.myMap" class="angular-google-map-container" ui-options="mapOptions"></div>
    
    <div ng-repeat="marker in myMarkers" ui-map-marker="myMarker[$index]">
    </div>

    <div>
    <!-- <div ng-controller="uberController" ui-view> -->
      <button ng-click="getPrices()"><img src="./client/assets/uber.png"/></button>
      <ul>
        <li ng-model="time">{{time}}</li>
        <li ng-model="price">{{price}}</li>
    </div>
  </div>
</div>
